*,
*:after,
*:before{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}

.menu {
	width: 100%;
	padding: .5% 1%;
	background-color: #FCAF17;
	border:solid 8px #2e3292;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu__logo2{
	height: 4.5vw;
}

.menu__caixa--itens{
	width: 50vw;
	display: flex;
	justify-content: space-between;
}
.menu__itens{
	font-size: 1.3vw;
	font-family: Source Bold;
	font-weight: 700;
	color: #2E3192;
	text-decoration: none;
}
.conteudoInscrição{
	width: 100%;
	height: 90vh;
	padding: 3%;
	background: #2E3192;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.conteudoInscrição__titulo{
	margin-bottom: 2%;
	text-transform: uppercase;
	font-size: 4vw;
	color: #fff;
	font-family: ministry, sans-serif;
	font-style: normal;
	font-weight: 700;
}
@media (max-width: 640px){
	.conteudoInscrição__titulo{
		font-size: 5vw;
	}
}
.conteudoInscrição__subtitulo{
	margin-top: 2%;
	text-transform: uppercase;
	font-size: 3vw;
	color: #fff;
	font-family: ministry, sans-serif;
	font-style: normal;
	font-weight: 700;
}
@media (max-width: 640px){
	.conteudoInscrição__subtitulo{
		font-size: 3.5vw;
	}
}
.conteudoInscrição__caixaBotao{
	width: 100%;
	margin: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.conteudoInscrição__link{
	margin: 1%;
}
.conteudoInscrição__botao{
	width: 12vw;
	height: 8vh;
	margin: 1%;
	background: transparent;
	border: solid 2px #fff;
	border-radius: 6px;
	font-size: 1.8vw;
	color: #fff;
	font-family: ministry, sans-serif;
	font-style: normal;
	font-weight: 700;
}
@media (max-width: 640px){
	.conteudoInscrição__botao{
		width: 26vw;
		font-size: 3vw;
	}
}

/*FIM CONTEUDO INCRIÇÃO*/
/*INICIO CONTEUDO FICHA*/

.conteudoFicha{
	width: 100%;
	min-height: 100vh;
	background: #2E3192;
	display: flex;
}
.conteudoFicha__informacao{
	width: 70%;
	padding: 3% 4%; 
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
@media(max-width: 640px){
	.conteudoFicha__informacao{
		width: 100%;
		align-items: center;
	}
}
.conteudoFicha__informacao-titulo{
	margin-bottom: 2%;
	font-size: 2.7vw;
	color: #fff;
	font-family: ministry, sans-serif;
	font-style: normal;
	font-weight: 700;
}
@media(max-width: 640px){
	.conteudoFicha__informacao-titulo{
		font-size: 5vw;
	}
}
.conteudoFicha__informacao-paragrafo{
	width: 65%;
	margin-bottom: 2%;
	font-size: 1.4vw;
	color: #fff;
	font-family: ministry, sans-serif;
	font-style: normal;
	font-weight: 500;
}
@media(max-width: 640px){
	.conteudoFicha__informacao-paragrafo{
		width: 80%;
		margin: 2% 0 5% 0;
		font-size: 3vw;
	}
}
.conteudoFicha__informacao-box{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.conteudoFicha__informacao-caixa{
	min-width: 15%;
	margin: 1%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
@media(max-width: 640px){
	.conteudoFicha__informacao-caixa{
		min-width: 45%;
	}
}
.fichaInformacao__caixa-paragrafo{
	margin-bottom: 1%;
	font-size: 2vw;
	color: #fff;
	font-family: ministry, sans-serif;
	font-style: normal;
	font-weight: 700;
}
@media(max-width: 640px){
	.fichaInformacao__caixa-paragrafo{
		font-size: 4vw;
	}
}
.fichaInformacao__caixa-input{
	min-width: 100px;
	height: 8vh;
	padding-left: 2%;
	background: transparent;
	border: solid 2px #fff;
	border-radius: 6px;
	font-size: 1.5vw;
	color: #fff;
	font-family: ministry, sans-serif;
	font-style: normal;
	font-weight: 700;
	
}
.fichaName{
	width: 25vw;
}
.fichaApelido{
	width: 25vw;
}
.fichaRg{
	width: 13vw;
}
.fichaCpf{
	width: 14vw;
}
.fichaData{
	width: 15vw;
}
.fichaEndereco{
	width: 25vw;
}
.fichaTelefone{
	width: 13vw;
}
.fichaEmail{
	width: 17vw;
}
@media(max-width: 640px){
	.fichaInformacao__caixa-input{
		font-size: 3vw;
		height: 5vh;
	}
	.fichaName{
		width: 90vw;
	}
	.fichaApelido{
		width: 90vw;
	}
	.fichaRg{
		width: 37vw;
	}
	.fichaCpf{
		width: 46.6vw;
	}
	.fichaData{
		width: 40vw;
	}
	.fichaEndereco{
		width: 90vw;
	}
	.fichaTelefone{
		width: 37vw;
	}
	.fichaEmail{
		width: 46.6vw;
	}
}
.conteudoFicha__informacao-caixaTitulo{
	width: 66%;
	margin: 5% 0 2% 0;
	font-size: 2vw;
	color: #fff;
	font-family: ministry, sans-serif;
	font-style: normal;
	font-weight: 700;
}
@media(max-width: 640px){
	.conteudoFicha__informacao-caixaTitulo{
		width: 90vw;
		font-size: 4vw;
	}
}
.conteudoFicha__informacao-caixaBox{

}
.conteudoFicha__informacao-caixaParagrafo{
	margin: 5% 0 2% 0;
	font-size: 1.6vw;
	color: #FCAF17;
	font-family: ministry, sans-serif;
	font-style: normal;
	font-weight: 700;
}
@media(max-width: 640px){
	.conteudoFicha__informacao-caixaParagrafo{
		margin: 3% 0 2% 0;
		font-size: 3vw;
	}
}
.fichaInformacao__lista{
	font-size: 1.4vw;
	color: #fff;
	font-family: ministry, sans-serif;
	font-style: normal;
	font-weight: 400;
	list-style: none;
}
.fichaInformacao__lista-filtro{
	position: relative;
	margin-bottom: 1%;
}
.fichaInformacao__lista-filtro .fichaInformacao__lista-filtroSpan{
	width: 27px;
	height: 27px;
	top: 5px;
	background: #fff;
	position: relative;
	display: inline-block;
	border-radius: 50%;
}
@media(max-width: 740px){
	.fichaInformacao__lista-filtro .fichaInformacao__lista-filtroSpan{
		width: 20px;
		height: 20px;
	}
}
.fichaInformacao__lista-filtro--quadrado .fichaInformacao__lista-filtroSpan{
	border-radius: 5px;
}
.fichaInformacao__lista-filtro .fichaInformacao__lista-filtroSpan::after{
	position: absolute;
	content: "";
	width: 18.5px;
	height: 18.5px;
	background: #E84818;
	border-radius: 50%;
	top: 50%;
	left: 48.4%;
	opacity: 0;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
@media(max-width: 740px){
	.fichaInformacao__lista-filtro .fichaInformacao__lista-filtroSpan::after{
		width: 15px;
		height: 15px;
	}
}
.fichaInformacao__lista-filtro--quadrado .fichaInformacao__lista-filtroSpan::after{
	border-radius: 5px;
}
.fichaInformacao__lista-filtroInput{
	position: absolute;
	opacity: 0;
	top: 10px;
	z-index: 99;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);  
	cursor: pointer;
}
.fichaInformacao__lista-filtroInput:checked + .fichaInformacao__lista-filtroSpan::after{
	opacity: 1;
}
.fichaInformacao__lista-filtroName{
	padding-left: 1.5%;
	margin: 1% 0;
	font-size: 1.3vw;
	color: #fff;
	font-family: ministry, sans-serif;
	font-style: normal;
	font-weight: 400;
	list-style: none;
}
@media(max-width: 640px){
	.fichaInformacao__lista-filtroName{
		font-size: 2.6vw;
	}
}
.span{
	width: 19vw;
	font-size: 0.9vw;
	color: #fff;
	font-family: ministry, sans-serif;
	font-style: normal;
	font-weight: 400;
	list-style: none;
	-webkit-padding: 0;
}
@media(max-width: 640px){
	.span{
		font-size: 1.4vw;
	}
}
.conteudoFicha__informacao-caixaInput{
	width: 40vw;
	height: 25vh;
	padding: 1%;
	background: transparent;
	border-radius: 10px;
	border: solid 3px #fff;
	font-size: 1.5vw;
	color: #fff;
	font-family: ministry, sans-serif;
	font-style: normal;
	font-weight: 400;
	overflow: auto;
}
@media(max-width: 640px){
	.conteudoFicha__informacao-caixaInput{
		width: 85vw;
		height: 20vh;
		padding: 2%;
		font-size: 3vw;
	}
}
.conteudoFicha__informacao-caixaSubtitulo{
	width: 65%;
	margin-bottom: 2%;
	font-size: 1.1vw;
	color: #fff;
	font-family: ministry, sans-serif;
	font-style: normal;
	font-weight: 400;
	list-style: none;
}
@media(max-width: 640px){
	.conteudoFicha__informacao-caixaSubtitulo{
		width: 100%;
		font-size: 2.3vw;
	}
}
.conteudoFicha__informacao-botao{
	width: 10vw;
	height: 7vh;
	margin-top: 5%;
	background: transparent;
	border-radius: 7px;
	border: solid 2px #fff;
}
@media(max-width: 640px){
	.conteudoFicha__informacao-botao{
		width: 25vw;
	}
}
.botao{
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	font-size: 1.5vw;
	color: #fff;
	font-family: ministry, sans-serif;
	font-style: normal;
	font-weight: 400;
	cursor: pointer;
}
@media(max-width: 640px){
	.botao{
		font-size: 4vw;
	}
}

/*FIM CONTEUDO FICHA*/
/*INICIO CONFIRMAÇÃO*/

.conteudoConfirmacao{
	width: 100%;
	/*min-width: 300px;*/
	min-height: 90vh;
	background: #2E3192;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.conteudoConfirmacao__titulo{
	width: 37%;
	margin-bottom: 4%;
	font-size: 4vw;
	color: #fff;
	font-family: ministry, sans-serif;
	font-style: normal;
	font-weight: 700;
	text-align: center;
}
@media(max-width: 640px){
	.conteudoConfirmacao__titulo{
		width: 70%;
		font-size: 6vw;
	}
}
.conteudoConfirmacao__paragrafo{
	width: 35%;
	margin-bottom: 4%;
	font-size: 2vw;
	color: #fff;
	font-family: ministry, sans-serif;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
}
@media(max-width: 640px){
	.conteudoConfirmacao__paragrafo{
		width: 70%;
		font-size: 3vw;
	}
}
.conteudoConfirmacao__link{
	color: #FCAF17;
	text-decoration: none;
}

/*FIM CONFIRMAÇÃO*/

.rodape{
	width: 100%;
	height: 100vh;
	background: #fff;
	border: 8px solid #2e3192;
	border-top: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	position: relative;	
}
.rodape__blocoleft{
	width: 54%;
	padding: 3%;
	display: flex;
	flex-flow: row wrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.rodape__blocoleft--texto{
	width: 80%;
	height: 20vh;
	font-size: 120%;
	color: #2e3192;
	font-family: ministry, sans-serif;
	font-style: normal;
	font-weight: 400;
	text-align: left;
}
.rodape__blocoleft--botao{
	width: 18vw;
	height: 10%;
	background: #FCAF17;
	border: 2px solid #2e3192;
	border-radius: 19px 19px 19px 19px;
	color: #2e3192;
	font-size: 1.2em;
	font-family: Source Bold;
	font-style: normal;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
}
.rodape__blocoleft__container{
	width: 100%;
	height: 20vh;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.rodape__blocoleft__caixaIcons{
	width: 45%;
	margin: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.rodape__blocoleft__caixaIcons--icon{
	width:20% ;
}
.rodape__blocoleft__caixaIcons--adress{
	padding: 10px;
	font-size: 2vh;
	font-family: Source Light;
	font-style: normal;
	font-weight: 700;
	color: #2e3192;
}
.rodape__blocoRight{
	width: 46%;
	height: 97vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
/*	background: url(assets/trioalunos) bottom no-repeat;
*/	background-size: 100%;
}
.rodape__blocoRight--texto{
	width: 100%;
	height:15vh;
	text-align: center;
	padding-top: 5%;
	font-size: 1.2em;
	font-family: Source Bold;
	font-style: normal;
	font-weight: 700;
}
.rodape__blocoRight__caixa{
	width: 80%;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;

}
.rodape__blocoRight--icons{
	width: 25%;
	left: 25%;
	padding: 5px;
}
.rodape__blocoRight__imagem{
	width: 100%;
}